@use '@scss/underscore' as _;

.item {
  padding: _.unit(2);
  border-radius: _.unit(2);
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  color: #f7f8f8;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;

  &:hover {
    background: rgba(247, 248, 248, 16%);
  }

  &.danger {
    color: #dd3730;
  }

  .icon {
    display: flex;
    align-items: center;
    margin-inline-end: _.unit(4);
  }
}

.link,
.link:hover {
  color: #f7f8f8;
  text-decoration: none;
}
