.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  border-top: 8px solid transparent;
}

@media (max-width: 996px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
  }
}
