.section {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 16px;
  border-top: 8px solid transparent;
  margin-bottom: 24px;
}

@media (max-width: 996px) {
  .section {
    grid-template-columns: 100%;
  }
}
