.layout {
  display: flex;
  gap: 32px;
  max-width: 1332px;
}

.main {
  flex: 1;
  width: 100%;
}

.docItemContainer {
  header + *,
  article > *:first-child {
    margin-top: 0;
  }
}

.desktopToc {
  display: none;
}

@media (min-width: 997px) {
  .desktopToc {
    display: block;
    flex: 0 0 276px;
  }

  .main.hasDesktopToc {
    max-width: min(1000px, calc(100vw - 680px));
  }
}
