.layout {
  display: flex;
  gap: 32px;
  max-width: 1332px;
}

.main {
  flex: 1;
}

.docItemContainer {
  header + *,
  article > *:first-child {
    margin-top: 0;
  }
}

.toc {
  flex: 0 0 276px;
}
