.layout {
  display: flex;
  gap: 32px;
  max-width: 1332px;
}

.main {
  flex: 1;

  &.hasDocToc {
    max-width: min(1000px, calc(100vw - 680px));
  }
}

.docItemContainer {
  header + *,
  article > *:first-child {
    margin-top: 0;
  }
}

.toc {
  flex: 0 0 276px;
}

@media (max-width: 996px) {
  .main {
    max-width: 100%;
  }
}
