.listViewItemContainer {
  display: flex;
  align-items: center;
  border: 1px solid var(--logto-line-divider);
  border-radius: 12px;
  box-shadow: var(--logto-shadow-1);
  padding: 20px;
  width: 100%;
  transition: background-color var(--ifm-transition-fast) ease;

  &:hover {
    background-color: var(--logto-container-info-bg);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-inline-end: 12px;
  border-radius: 10px;
  background: var(--logto-container-neutral-bg);
  flex-shrink: 0;

  img {
    width: 36px;
    height: 36px;
  }

  + .logo {
    margin-inline-end: 28px;
  }
}
