.listViewItemContainer {
  display: flex;
  align-items: center;
  border: 1px solid var(--logto-line-divider);
  border-radius: 12px;
  box-shadow: var(--logto-shadow-1);
  padding: 20px;
  width: 100%; 
}
