@use '@scss/underscore' as _;

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .positionInfo {
    font: var(--font-body-2);
    color: var(--logto-color-text-secondary);
  }

  .pagination {
    display: flex;
    justify-content: right;
    margin: 0;
    height: 28px;
    padding-inline-start: _.unit(4);

    li {
      list-style: none;

      &:not(:first-child) {
        margin-inline-start: _.unit(2);
      }

      .button {
        display: block;
        font: var(--font-label-2);
        background: transparent;
        border-radius: 6px;
        min-width: 28px;
        padding: 3px 6px;
        height: 28px;
        border: 1px solid var(--logto-border);
        color: var(--logto-color-text);
        user-select: none;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        transition-property: border-color, opacity;
        opacity: 100%;
        outline-offset: 0;

        svg {
          width: 20px;
          height: 20px;
        }

        &.active {
          border-color: var(--ifm-link-color);
          color: var(--ifm-link-color);
        }
      }
    }
  }

  li.disabled {
    cursor: not-allowed;

    .button {
      background: var(logto-container-neutral-bg);
    }
  }

  &.pico {
    .pagination {
      height: 20px;

      li {
        .button {
          border-radius: 4px;
          height: 20px;
          min-width: unset;
          border: unset;
          background: unset;
          padding: 0;
        }
      }
    }
  }
}
