@use '@scss/underscore' as _;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid;
  padding: _.unit(2) _.unit(4);
  width: fit-content;
  font-size: 14px;
  line-height: 14px;
  background: transparent;
  font-weight: 500;
  border-radius: 8px;
  user-select: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: border-color, color, opacity;
  opacity: 100%;
  outline-offset: 0;
  font-family: var(--ifm-font-family-base);

  &::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: -1px;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: -1px;
    transition: background 0.3s ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      text-decoration: none;
    }

    &:hover::after {
      background: rgba(255, 255, 255, 8%);
    }

    &:active::after {
      background: rgba(255, 255, 255, 16%);
    }

    &:focus-visible {
      outline: 2px solid #af9eff;
    }
  }

  &.large {
    padding: _.unit(4) _.unit(8);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
  }

  &.small {
    padding: _.unit(2) _.unit(4);
    font-size: 14px;
    line-height: 20px;
  }

  &.primary {
    color: #fff;
    position: relative;
    border-color: rgba(255, 255, 255, 14%);

    &::before {
      background: linear-gradient(90deg, #6b47f7 7.35%, #7f46ff 112.43%);
    }
  }

  &.gradient {
    color: #e5e1ec;
    border-color: rgba(255, 255, 255, 16%);

    &::before {
      background:
        linear-gradient(90.09deg, rgba(17, 26, 60, 20%) 5.32%, rgba(101, 78, 175, 20%) 114.11%),
        linear-gradient(0deg, rgba(239, 239, 239, 4%), rgba(239, 239, 239, 4%)),
        rgba(27, 35, 57, 20%);
    }
  }

  &.secondary {
    color: var(--ifm-link-color);
    border-color: var(--ifm-link-color);
    background: transparent;

    &:not(:disabled) {
      &:hover::after {
        background: rgba(93, 52, 242, 8%);
      }

      &:active::after {
        background: rgba(93, 52, 242, 16%);
      }
    }
  }

  &.outline {
    color: var(--logto-color-text);
    border-color: var(--logto-color-text);
  }

  &.plain {
    color: #f7f8f8;
    border-color: #928f9a;

    &:not(:disabled) {
      &:hover {
        background: rgba(247, 248, 248, 8%);
      }

      &:active {
        background: rgba(247, 248, 248, 12%);
      }
    }
  }

  .children {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    > :not(:first-child) {
      margin-inline-start: _.unit(3);
    }
  }
}

@media (max-width: 996px) {
  .button {
    padding: _.unit(2) _.unit(3.5);
    width: unset;
    font-size: 16px;
    line-height: 24px;

    &.small {
      padding: _.unit(1) _.unit(3);
      font-size: 14px;
      line-height: 20px;
      border-radius: 8px;
    }

    &.large {
      padding: _.unit(2.5) _.unit(4);
      font-size: 16px;
      line-height: 24px;
      border-radius: 8px;
    }
  }
}
