.overlay {
  background: transparent;
  position: fixed;
  inset: 0;
  z-index: 199;
}

.dropdown {
  position: absolute;
  min-width: 650px;
  padding: 28px 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 20%);

  label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: var(--logto-color-text-secondary);
    margin-bottom: 8px;
    position: relative;
  }
}

.dropdownGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .dropdownItem {
    display: flex;
    padding: 6px 12px;
    font: var(--font-body-2);
    color: var(--logto-color-text);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: var(--logto-hover);
    }
  }

  + label {
    margin-top: 33px;

    &::before {
      content: '';
      position: absolute;
      border-top: 1px solid var(--logto-line-divider);
      top: -16px;
      inset-inline: 0;
    }
  }
}

html[data-theme='dark'] {
  .dropdown {
    background: var(--logto-container-neutral-bg);
  }
}