.banner {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 7px;
  padding-inline: 18px 12px;
  border-radius: 8px;
  border: 1px solid var(--logto-container-on-info);
  background: var(--logto-container-info-bg);
  gap: 16px;
  font: var(--font-body-2);
  color: var(--logto-color-text);
  z-index: 201;

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    svg {
      width: 16px;
      height: 16px;
      color: var(--logto-color-text-secondary);
    }

    &:hover {
      background: var(--logto-hover);
    }
  }
}

@media (max-width: 996px) {
  .banner {
    min-width: calc(100vw - 48px);
  }
}
