.section {
  position: fixed;
  inset: 0 0 auto 0;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: var(--ifm-background-color);
  
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: var(--ifm-container-width);

    @media (min-width: 1440px) {
      max-width: var(--ifm-container-width-xl);
    }
  }

  .content {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: var(--ifm-col-width);

    @media (min-width: 1440px) {
      max-width: var(--ifm-container-width);
      padding: 0 36px;
    }
  }

  img {
    height: 28px;
  }
}
