.section {
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--ifm-navbar-height);
  display: flex;
  align-items: center;
  background-color: var(--ifm-background-color);
  
  .container {
    margin: 0 auto;
    padding: 0 36px;
    width: 100%;
    max-width: 1200px;
  }

  img {
    height: 28px;
  }
}

@media (min-width: 1440px) {
  .section {
    .container {
      padding: 0 36px;
    }
  }
}

@media (max-width: 996px) {
  .section {
    .container {
      padding: 0 16px;
    }
  }
}
