.dropdownAnchor {
  padding-inline: 2px 0;
  outline: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;

  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-inline-start: 4px;
    background: var(--ifm-menu-link-sublist-icon) no-repeat 50% / 24px 24px;
    transform: rotate(180deg);
  }

  &.active {
    outline: 2px solid var(--logto-container-on-info);

    &::after {
      transform: rotate(0deg);
    }
  }
}

/* Hide dropdown anchors from title on smaller devices */
@media (max-width: 576px) {
  .dropdownAnchor {
    padding: 0;
    outline: none;
    cursor: default;

    &::after {
      display: none;
    }

    &.active {
      outline: none;
    }
  }
}
