.icon {
  margin-inline-end: 12px;
}

.sublistLabel {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--logto-color-placeholder);
  text-transform: capitalize;
  padding: 8px 26px;
  position: relative;
  gap: 8px;
  user-select: none;

  .divider {
    flex: 1;
    height: 0;
    border-top: 1px solid var(--logto-line-divider);
  }
}
