.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  
  .row {
    display: flex;
    gap: 24px;
    
    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 50px;
    }

    .toc {
      flex: 0 0 276px;
    }
  }

  &.hasToc {
    max-width: 1200px;

    .main {
      max-width: min(900px, calc(100vw - 324px));
    }
  }
}

@media (max-width: 996px) {
  .container {
    max-width: 100vw;

    &.hasToc {
      max-width: 100vw;

      .main {
        max-width: 100%;
      }
    }

    .row .toc {
      display: none;
    }
  }
}
