.groupLabel {
  color: var(--logto-color-text);
  font: var(--font-title-2);
  display: inline-block;
  margin-bottom: 1rem;
}

.navItem {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: var(--logto-color-text);
  font: var(font-body-1);

  &:hover {
    color: var(--ifm-link-color);
    text-decoration: none;
  }

  > svg {
    width: 20px;
    height: 20px;
    color: var(--ifm-link-color);
  }
}