.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.feedbackWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button {
  min-width: 86px;
  line-height: 24px;
  padding: 0 12px;
  height: 36px;

  &.notHelpful {
    border: 1px solid var(--logto-container-on-danger);
    color: var(--logto-container-on-danger);
    background: var(--logto-container-danger-bg);
  }
}

.feedback {
  width: 60%;
}

.successMessage {
  padding: 6px 12px;
  margin-inline-end: 24px;
  background: var(--logto-container-info-bg);
  border-radius: 6px;
  font: var(--font-body-1);
  color: var(--logto-color-text);
}

.editUrlColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
    gap: 12px;
  }

  .buttons {
    margin-bottom: 12px;
  }

  .feedback {
    width: 100%;
    max-width: 420px;
  }

  .successMessage {
    margin-bottom: 12px;
  }

  .editUrlColumn {
    align-items: flex-start;
  }
}
