.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 173px;
  background: none;
  color: var(--logto-color-text-secondary);
  border: 1px solid var(--logto-border);
  border-radius: 8px;
  padding-block: 7px;
  padding-inline: 12px 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    border: 1px solid var(--ifm-link-color);
    border-color: var(--ifm-link-color);
    background: none;
    box-shadow: none;
    color: var(--logto-color-text);
    outline: 0;
  
    .placeholder {
      color: var(--logto-color-text);
    }
  }
  &:focus-visible {
    outline: 2px solid #af9eff;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .placeholder {
    margin-inline-start: 8px;
    text-align: start;
    flex: 1 1 0;
    transition: color 0.3s ease-in-out;
    font: var(--font-body-2);
  }

  .keys {
    display: flex;
    background: var(--logto-container-neutral-bg);
    border-radius: 4px;
    gap: 4px;
    padding: 4px 6px;

    kbd {
      box-shadow: none;
      border: none;
      background: none;
      color: var(--logto-color-text);
      font: var(--font-body-3);
      padding: 0;
    }
  }
}

@media (max-width: 996px) {
  .searchBarContainer {
    width: 36px;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;

    .placeholder,
    .keys {
      display: none;
    }
  }
}
