.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  margin: -12px 0 12px;
  font-size: 0.9em;
  color: var(--ifm-color-content);
  opacity: 0.7;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px 24px;
  margin: 8px -8px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  a.link {
    color: var(--ifm-color-content);
    display: inline-flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;

    &:hover {
      background-color: var(--ifm-hover-overlay);
    }

    img.logo {
      border-radius: 0;
      width: 20px;
    }
  }
}
