@use '@scss/underscore' as _;

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categoryLabel {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--logto-color-text);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 8px -8px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  a.link {
    color: var(--ifm-color-content);
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-decoration: none;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid var(--logto-line-divider);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: var(--ifm-hover-overlay);
    }

    img.logo {
      width: 48px;
      height: 48px;
      border-radius: 0;
    }

    .title {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: var(--logto-color-text);
    }

    .subtitle {
      font-size: 14px;
      line-height: 20px;
      color: var(--logto-color-text-secondary);
      @include _.multi-line-ellipsis(3);
    }
  }
}
