.dropdownAnchor {
  padding-inline: 2px 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background: var(--logto-overlay-brand-hover);
  }

  &::after {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-inline-start: 2px;
    background: var(--ifm-menu-link-sublist-icon) no-repeat 50% / 28px 28px;
    transform: rotate(180deg);
  }

  &.active {
    outline: 2px solid var(--logto-container-on-info);

    &::after {
      transform: rotate(0deg);
    }
  }

  .placeholder {
    color: var(--logto-color-placeholder);
    user-select: none;
  }
}
