.linkWrapper {
  display: flex;

  +.linkWrapper {
    margin-top: 8px;
  }

  .link {
    >svg {
      width: 1em;
      height: 1em;
      margin-inline-end: 8px;
      vertical-align: -10%;

      &.flexWidth {
        width: unset;
      }

      &.externalLink {
        // Override default styles in docusaurus
        margin-left: unset;
        margin-inline: 4px 0;
      }
    }
  }

  p {
    display: inline;
    margin: 0;
  }

  &:hover p {
    // Explicitly set text-decoration here, otherwise underline may not appear in Chrome
    // randomly when hovering over the link
    text-decoration: underline;
  }

  p>&,
  li>&,
  span>&,
  strong>&,
  em>& {
    display: inline-flex;

    +.linkWrapper {
      margin-inline-start: 4px;
      margin-top: 0;
    }

    .link>svg {
      margin-inline-end: 4px;
    }
  }
}
