@use '@scss/underscore' as _;

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 _.unit(3);
  border-radius: 6px;
  outline: 3px solid transparent;
  transition-property: outline, border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.open {
    border-color: #7958ff;
    outline-color: rgba(202, 190, 255, 16%);
  }

  &.readOnly {
    background: #2d3132;
    color: #f7f8f8;
    border-color: #5c5f60;
    cursor: default;
  }

  &.error {
    border-color: #dd3730;

    &.open {
      outline-color: rgba(255, 180, 169, 16%);
    }
  }

  * + .title {
    margin-inline-start: _.unit(2);
  }

  .placeholder {
    color: #747778;
  }

  .clear {
    display: none;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.small {
    height: 24px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.medium {
    height: 32px;
  }

  &.large {
    height: 44px;
  }

  &.xlarge {
    height: 76px;
  }

  &.auto {
    height: 44px;
  }
}

.dropdownContainer {
  background: #34353f;
  max-height: 288px;
  padding: _.unit(1);
  border: 1px solid #444748;
}

.errorMessage {
  font-size: 14px;
  line-height: 20px;
  color: #dd3730;
  margin-top: _.unit(1);
}

@media (max-width: 996px) {
  .select.auto {
    height: 24px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
