.title {
  font: var(--font-headline-1);
  margin-top: 32px;
}

/* Make it smaller while in the list */

.listTitle {
  font: var(--font-body-0);
  font-weight: 500;
  margin: 0;
}

.highlight {
  color: var(--logto-link-color);
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .listTitle {
    font-size: 1.5rem;
    line-height: 40px;
  }
}
