.title {
  font-size: 3rem;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}

/* Make it smaller while in the list */

.listTitle {
  font-size: 2rem;
  line-height: 50px;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .listTitle {
    font-size: 1.5rem;
    line-height: 40px;
  }
}
