.title {
  font: var(--font-headline-1);
  margin-top: 32px;
}

/* Make it smaller while in the list */

.listTitle {
  font: var(--font-body-0);
  font-weight: 500;
  margin: 0;
  color: var(--logto-color-text);
}
