@use '@scss/underscore' as _;

.footer {
  background: #36354a;

  .container {
    @include _.max-width;
    margin: _.unit(20) auto;
  }
}

.logoRow {
  border-bottom: solid 1px rgba(202, 190, 255, 0.16);
  margin-bottom: _.unit(5);

  img {
    height: 32px;
    margin: 0 0 _.unit(5);
  }
}


.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyRight {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #898c8c;
}

.links {
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #a9acac;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #a9acac;
    }
  }

  a:not(:first-child) {
    margin-left: _.unit(8);
  }
}


@media (max-width: 997px) {
 .footer {
  .container {
    margin: _.unit(10) auto;
  }
 }

  .footerRow {
    flex-direction: column-reverse;
    align-items: flex-start;

    img {
      height: 24px;
    }
  }

  .links {
    a {
      display: block;
      font-weight: normal;
    }

    a:not(:first-child) {
      margin: _.unit(3) 0 0;
    }
  }

  .copyRight {
    align-self: center;
    margin-top: _.unit(10);
    font-size: 12px;
    line-height: 18px;
  }
}
