.cardContainer {
  --ifm-link-hover-decoration: none;

  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--logto-line-divider);
  background-color: var(--logto-bg-body-overlay);
  box-shadow: var(--logto-shadow-1);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: background-color, border-color;

  svg {
    width: 20px;
    height: 20px;
  }
}

.cardContainer:hover {
  background-color: var(--logto-overlay-brand-hover);
  border-color: var(--logto-overlay-brand-focused);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font: var(--font-label-1);
  color: var(--logto-color-text);
  margin: 12px 0 4px;
}

.cardDescription {
  font: var(--font-body-1);
  color: var(--logto-color-text-secondary);
}
