.cardContainer {
  --ifm-link-hover-decoration: none;

  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--logto-line-divider);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: box-shadow;

  svg {
    min-width: 20px;
    min-height: 20px;
  }
}

.cardContainer:hover {
  box-shadow: var(--logto-shadow-1);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font: var(--font-label-1);
  color: var(--logto-color-text);
  margin: 12px 0 4px;
}

.cardDescription {
  font: var(--font-body-2);
  color: var(--logto-color-text-secondary);
}
