.cardContainer {
  --ifm-link-hover-decoration: none;

  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font: var(--font-label-1);
  color: var(--logto-color-text);
  margin: 12px 0 4px;
}

.cardDescription {
  font: var(--font-body-2);
  color: var(--logto-color-text-secondary);
}
