@function unit($factor: 1) {
  @return #{$factor * 4}px;
}

$--padding-max-width: 100px;

@mixin max-width {
  max-width: calc(1276px + $--padding-max-width * 2);
  padding: 0 $--padding-max-width;
}
