@use "sass:string";

@function unit($factor: 1) {
  @return #{$factor * 0.25}rem;
}


@mixin max-width {
  max-width: calc(1276px + var(--padding-max-width) * 2);
  padding: 0 var(--padding-max-width);
}

@mixin sidebar-category-padding($level) {
  .theme-doc-sidebar-item-category-level-#{$level} > .menu__list-item-collapsible {
    padding-left: #{$level - 1}rem;
  }
}

@mixin sidebar-item-link-padding($level) {
  .theme-doc-sidebar-item-link-level-#{$level} > .menu__link {
    padding-left: #{$level}rem;
  }
}

@mixin multi-line-ellipsis($line) {
  // https://css-tricks.com/almanac/properties/l/line-clamp/
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@function url-friendly-color($color) {
  @return '%23' + string.slice('#{$color}', 2, -1);
}

@function menu-sublist-icon($color, $size: 16) {
  $encoded-color: url-friendly-color($color);
  @return url('data:image/svg+xml;charset=utf-8,<svg width="#{$size}" height="#{$size}" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.52667 6.11333L4.7 8.94C4.63751 9.00198 4.58792 9.07571 4.55407 9.15695C4.52023 9.23819 4.5028 9.32533 4.5028 9.41333C4.5028 9.50134 4.52023 9.58848 4.55407 9.66972C4.58792 9.75096 4.63751 9.82469 4.7 9.88667C4.82491 10.0108 4.99388 10.0805 5.17 10.0805C5.34612 10.0805 5.51509 10.0108 5.64 9.88667L8 7.52667L10.36 9.88667C10.4849 10.0108 10.6539 10.0805 10.83 10.0805C11.0061 10.0805 11.1751 10.0108 11.3 9.88667C11.3618 9.82437 11.4107 9.7505 11.4438 9.66927C11.477 9.58805 11.4938 9.50107 11.4933 9.41333C11.4938 9.3256 11.477 9.23862 11.4438 9.1574C11.4107 9.07617 11.3618 9.00229 11.3 8.94L8.47333 6.11333C8.41136 6.05085 8.33762 6.00125 8.25638 5.96741C8.17514 5.93356 8.08801 5.91613 8 5.91613C7.91199 5.91613 7.82485 5.93356 7.74362 5.96741C7.66238 6.00125 7.58864 6.05085 7.52667 6.11333Z" fill="#{$encoded-color}" /></svg>');
}

@function breadcrumb-separator-icon($color) {
  $encoded-color: url-friendly-color($color);
  @return url('data:image/svg+xml;charset=utf-8,<svg width="5" height="14" viewBox="0 0 5 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.25879 0.35791L1.1416 13.1138H0L3.11719 0.35791H4.25879Z" fill="#{$encoded-color}"/></svg>');
}

@function searchbar-magnifier-icon($color) {
  $encoded-color: url-friendly-color($color);
  @return url('data:image/svg+xml;charset=utf-8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 12C5.791 12 4 10.209 4 8C4 5.791 5.791 4 8 4C10.209 4 12 5.791 12 8C12 10.209 10.209 12 8 12ZM17.707 16.293L12.887 11.473C13.585 10.492 14 9.296 14 8C14 4.687 11.313 2 8 2C4.687 2 2 4.687 2 8C2 11.313 4.687 14 8 14C9.296 14 10.492 13.585 11.473 12.887L16.293 17.707C16.488 17.902 16.744 18 17 18C17.256 18 17.512 17.902 17.707 17.707C18.098 17.316 18.098 16.684 17.707 16.293Z" fill="#{$encoded-color}" /></svg>');
}

