@function unit($factor: 1) {
  @return #{$factor * 0.25}rem;
}


@mixin max-width {
  max-width: calc(1276px + var(--padding-max-width) * 2);
  padding: 0 var(--padding-max-width);
}

@mixin sidebar-category-padding($level) {
  .theme-doc-sidebar-item-category-level-#{$level} > .menu__list-item-collapsible {
    padding-left: #{$level - 1}rem;
  }
}

@mixin sidebar-item-link-padding($level) {
  .theme-doc-sidebar-item-link-level-#{$level} > .menu__link {
    padding-left: #{$level}rem;
  }
}
