@use '@scss/underscore' as _;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #5d34f2;
  --ifm-color-primary-dark: #4718f0	;
  --ifm-color-primary-darker: #3e0feb;
  --ifm-color-primary-darkest: #330cc1;
  --ifm-color-primary-light: #7350f4;
  --ifm-color-primary-lighter: #7e5df5;
  --ifm-color-primary-lightest: #9f87f7;
  --ifm-hover-overlay: rgba(93, 52, 242, 0.12);
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 64px;
  --doc-sidebar-width:340px !important;
  --doc-sidebar-section-title: #c9c5d0;
  --logto-border: #c4c7c7;
  --ifm-menu-link-sublist-icon: url('/static/img/menu-link-sublist-icon.svg');

  --padding-max-width: 100px;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7958ff;
  --ifm-color-primary-dark: #5d36ff;
  --ifm-color-primary-darker: #5025ff;
  --ifm-color-primary-darkest: #2f00f0;
  --ifm-color-primary-light: #957aff;
  --ifm-color-primary-lighter: #a28bff;
  --ifm-color-primary-lightest: #ccbfff;
  --ifm-hover-overlay: rgba(202, 190, 255, 0.12);
  --doc-sidebar-section-title: #777;
  --logto-border: #5c5f60;
}


// Top Nav
.navbar {
  box-shadow: 0px 4px 8px rgba(66, 41, 159, 0.08);
}

.navbar__brand {
  position: relative;
  margin-right: _.unit(2);
}

.navbar__item {
  font-size: 16px;
  line-height: 24px;

  &.navbar__link {
    font-weight: 600;
  }
}

// Side Bar
.sidebar-section {
  color: var(--doc-sidebar-section-title);
  padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.sidebar-section > a.menu__link  {
  color: var(--doc-sidebar-section-title);
  padding: 0;
  pointer-events: none;
}

.sidebar-section:not(:first-child) {
  margin-top: calc(var(--ifm-menu-link-padding-vertical) * 2);
}

.menu__list {
  .menu__list {
    margin-left: calc(var(--ifm-menu-link-padding-horizontal) * -1);
  }
}

.menu__link {
  word-break: break-all;
}

.menu__list-item-collapsible {
  align-items: center;

  & > .menu__caret {
    order: 1;
    padding: 0;
    margin-right: _.unit(1);
    margin-left: var(--ifm-menu-link-padding-horizontal);

    &::before {
      height: 1rem;
      width: 1rem;
      background: none;
      mask: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
      background-color: var(--ifm-menu-color);
    }
  }

  & > .menu__link--active + .menu__caret::before {
    background-color: var(--ifm-menu-color-active);
  }

  & > .menu__link:not(:last-child) {
    order: 2;
    padding-left: 0;
  }
}

.menu__link--sublist-caret {
  &::before {
    content: '';
    margin-right: _.unit(1);
    background: none;
    mask: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
    height: 1rem;
    width: 1rem;
    transform: rotate(180deg);
    transition: transform var(--ifm-transition-fast) linear;
    background-color: var(--ifm-menu-color);
  }

  &::after {
    content: none;
  }

  &.menu__link--active {
    &::before {
     background-color: var(--ifm-menu-color-active);
    }
  }
}

.menu__list-item--collapsed  {
  .menu__link--sublist-caret::before {
    transform: rotateZ(90deg);
  }
}

@include _.sidebar-category-padding(2);
@include _.sidebar-category-padding(3);
@include _.sidebar-category-padding(4);
@include _.sidebar-category-padding(5);

@include _.sidebar-item-link-padding(2);
@include _.sidebar-item-link-padding(3);
@include _.sidebar-item-link-padding(4);
@include _.sidebar-item-link-padding(5);

// Docs
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 997px) {
  :root {
    --padding-max-width: 20px;
  }

  .navbar__logo {
    height: 30px;
  }
}


@media (min-width: 997px) {
  .navbar__brand {
    .navbar__logo {
      margin-right: _.unit(6);
    }
  
    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      content: '';
      background-color: var(--logto-border);
      width: 1px;
      height: 16px;
      transform: translateY(-8px);
  
    }
  }

  .theme-doc-sidebar-container nav {
    padding: var(--ifm-navbar-padding-horizontal) _.unit(3);
  }
}
