@use "sass:string";
@use '@scss/underscore' as _;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@function url-friendly-color($colour) {
  @return '%23' + string.slice('#{$colour}', 2, -1);
}

:root {
  --ifm-color-primary: #5d34f2;
  --ifm-color-primary-dark: #4718f0;
  --ifm-color-primary-darker: #3e0feb;
  --ifm-color-primary-darkest: #330cc1;
  --ifm-color-primary-light: #7350f4;
  --ifm-color-primary-lighter: #7e5df5;
  --ifm-color-primary-lightest: #9f87f7;
  --ifm-link-color: #4300da;
  --ifm-breadcrumb-color-active: var(--ifm-link-color);
  --ifm-menu-color-active: var(--ifm-link-color);
  --ifm-hover-overlay: rgba(93, 52, 242, 0.12);
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 64px;
  --doc-sidebar-width: 340px !important;
  --doc-sidebar-section-title: #c9c5d0;
  --logto-border: #c4c7c7;
  --logto-line-divider: #e0e3e3;
  --logto-color-text: #191c1d;
  --logto-color-text-secondary: #747778;
  --logto-shadow-1: 0 4px 8px rgba(0, 0, 0, 0.08);
  --logto-bg-gradient: linear-gradient(344deg, rgba(255, 255, 255) 75%, rgba(231, 221, 249, 0.6) 100%);
  --ifm-menu-link-sublist-icon: url('/static/img/menu-link-sublist-icon.svg');
  --ifm-menu-link-sublist-icon-active: url('data:image/svg+xml;charset=utf-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.52667 6.11333L4.7 8.94C4.63751 9.00198 4.58792 9.07571 4.55407 9.15695C4.52023 9.23819 4.5028 9.32533 4.5028 9.41333C4.5028 9.50134 4.52023 9.58848 4.55407 9.66972C4.58792 9.75096 4.63751 9.82469 4.7 9.88667C4.82491 10.0108 4.99388 10.0805 5.17 10.0805C5.34612 10.0805 5.51509 10.0108 5.64 9.88667L8 7.52667L10.36 9.88667C10.4849 10.0108 10.6539 10.0805 10.83 10.0805C11.0061 10.0805 11.1751 10.0108 11.3 9.88667C11.3618 9.82437 11.4107 9.7505 11.4438 9.66927C11.477 9.58805 11.4938 9.50107 11.4933 9.41333C11.4938 9.3256 11.477 9.23862 11.4438 9.1574C11.4107 9.07617 11.3618 9.00229 11.3 8.94L8.47333 6.11333C8.41136 6.05085 8.33762 6.00125 8.25638 5.96741C8.17514 5.93356 8.08801 5.91613 8 5.91613C7.91199 5.91613 7.82485 5.93356 7.74362 5.96741C7.66238 6.00125 7.58864 6.05085 7.52667 6.11333Z" fill="#{url-friendly-color(#747778)}"/></svg>');
  --docusaurus-highlighted-code-line-bg: rgba(72, 77, 91, 0.12);

  --padding-max-width: 100px;

  --font-display-1: 700 48/56px var(--ifm-font-family-base);
  --font-display-2: 700 40px/48px var(--ifm-font-family-base);
  --font-display-3: 700 32px/40px var(--ifm-font-family-base);
  --font-headline-1: 600 32px/40px var(--ifm-font-family-base);
  --font-headline-2: 600 28px/36px var(--ifm-font-family-base);
  --font-headline-3: 600 24px/32px var(--ifm-font-family-base);
  --font-title-1: 600 20px/28px var(--ifm-font-family-base);
  --font-title-2: 600 16px/24px var(--ifm-font-family-base);
  --font-title-3: 600 14px/20px var(--ifm-font-family-base);
  --font-label-1: 500 16px/24px var(--ifm-font-family-base);
  --font-label-2: 500 14px/20px var(--ifm-font-family-base);
  --font-label-3: 500 12px/16px var(--ifm-font-family-base);
  --font-body-0: 400 18px/26px var(--ifm-font-family-base);
  --font-body-1: 400 16px/24px var(--ifm-font-family-base);
  --font-body-2: 400 14px/20px var(--ifm-font-family-base);
  --font-body-3: 400 12px/16px var(--ifm-font-family-base);
  --font-section-head-1: 700 12px/16px var(--ifm-font-family-base);
  --font-section-head-2: 700 10px/16px var(--ifm-font-family-base);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7958ff;
  --ifm-color-primary-dark: #5d36ff;
  --ifm-color-primary-darker: #5025ff;
  --ifm-color-primary-darkest: #2f00f0;
  --ifm-color-primary-light: #957aff;
  --ifm-color-primary-lighter: #a28bff;
  --ifm-color-primary-lightest: #ccbfff;
  --ifm-link-color: #a38fff;
  --ifm-breadcrumb-color-active: var(--ifm-link-color);
  --ifm-menu-color-active: var(--ifm-link-color);
  --ifm-hover-overlay: rgba(202, 190, 255, 0.12);
  --ifm-menu-link-sublist-icon-active: url('data:image/svg+xml;charset=utf-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.52667 6.11333L4.7 8.94C4.63751 9.00198 4.58792 9.07571 4.55407 9.15695C4.52023 9.23819 4.5028 9.32533 4.5028 9.41333C4.5028 9.50134 4.52023 9.58848 4.55407 9.66972C4.58792 9.75096 4.63751 9.82469 4.7 9.88667C4.82491 10.0108 4.99388 10.0805 5.17 10.0805C5.34612 10.0805 5.51509 10.0108 5.64 9.88667L8 7.52667L10.36 9.88667C10.4849 10.0108 10.6539 10.0805 10.83 10.0805C11.0061 10.0805 11.1751 10.0108 11.3 9.88667C11.3618 9.82437 11.4107 9.7505 11.4438 9.66927C11.477 9.58805 11.4938 9.50107 11.4933 9.41333C11.4938 9.3256 11.477 9.23862 11.4438 9.1574C11.4107 9.07617 11.3618 9.00229 11.3 8.94L8.47333 6.11333C8.41136 6.05085 8.33762 6.00125 8.25638 5.96741C8.17514 5.93356 8.08801 5.91613 8 5.91613C7.91199 5.91613 7.82485 5.93356 7.74362 5.96741C7.66238 6.00125 7.58864 6.05085 7.52667 6.11333Z" fill="#{url-friendly-color(#a9acac)}"/></svg>');
  --doc-sidebar-section-title: #777;
  --logto-border: #5c5f60;
  --logto-line-divider: #444748;
  --logto-color-text: #f7f8f8;
  --logto-color-text-secondary: #a9acac;
  --logto-shadow-1: 0 4px 8px rgba(255, 255, 255, 0.08);
  --logto-bg-gradient: linear-gradient(344deg, rgba(17, 19, 19) 75%, rgba(90, 36, 211, 0.2) 100%);
  --docusaurus-highlighted-code-line-bg: rgba(100, 100, 100, 0.3);
}

body #__docusaurus {
  min-height: 100vh;
}

// Top Nav
.navbar {
  box-shadow: 0px 4px 8px rgba(66, 41, 159, 0.08);
}

.navbar__brand {
  position: relative;
  margin-right: _.unit(3);
}

.navbar__logo {
  display: flex;
  align-items: center;
  height: auto;

  img {
    height: 28px;
  }
}

.navbar__item {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  &.navbar__link {
    font-weight: 600;
  }
}

// Side Bar
.theme-doc-sidebar-menu 
{
  .sidebar-section {
    color: var(--doc-sidebar-section-title);
    padding: var(--ifm-menu-link-padding-vertical) calc(var(--ifm-menu-link-padding-horizontal) + 0.5rem);
    text-transform: uppercase;
  }

  .sidebar-section > a.menu__link {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: var(--doc-sidebar-section-title);
    padding: 0;
    pointer-events: none;
  }

  .sidebar-section:not(:first-child) {
    margin-top: calc(var(--ifm-menu-link-padding-vertical) * 2);
  }
}


// Add extra padding to the sidebar items
.theme-doc-sidebar-menu .theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible {
  padding-left: 0;
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-category-level-2 > .menu__list-item-collapsible {
  padding-left: _.unit(3);
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-category-level-3 > .menu__list-item-collapsible {
  padding-left: _.unit(6);
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-category-level-4 > .menu__list-item-collapsible {
  padding-left: _.unit(9);
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-category-level-5 > .menu__list-item-collapsible {
  padding-left: _.unit(12);
}

.menu__list-item-collapsible > .menu__link {
  padding-left: _.unit(5);
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link-level-1 > .menu__link {
  padding-left: _.unit(5);
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link-level-2 > .menu__link {
  // We apply a emoji at all level 1 items, need to give extra 0.1rem padding to align with the upper level text
  padding-left: _.unit(8)
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link-level-3 > .menu__link {
  padding-left: _.unit(11)
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link-level-4 > .menu__link {
  padding-left: _.unit(14)
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link-level-5 > .menu__link {
  padding-left:  _.unit(17)
}

// Overwrite the sub-menu indention
.menu__list {
  .menu__list {
    padding-left: 0;
  }
}

.menu__link {
  word-break: break-word;
  line-height: 20px;
  font-size: 14px;
}

// overwrite default link hover color.
a.menu__link:not(.menu__link--active):hover {
  color: var(--ifm-menu-color);
}

.menu__list-item-collapsible {
  align-items: center;

  & > .menu__caret {
    order: 1;
    margin: _.unit(0.5);
    padding: 0;

    &::before {
      height: 1rem;
      width: 1rem;
      background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
    }
  }

  & > .menu__link--active + .menu__caret::before {
    background: var(--ifm-menu-link-sublist-icon-active) 50% / 1rem 1rem;
  }

  & > .menu__link:not(:last-child) {
    order: 2;
    padding-left: 0;
  }
}

.menu__link--sublist-caret {
  &::before {
    content: '';
    margin-right: _.unit(0.5);
    background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
    filter: var(--ifm-menu-link-sublist-icon-filter);
    height: 1rem;
    width: 1rem;
    transform: rotate(180deg);
    transition: transform var(--ifm-transition-fast) linear;
  }

  &::after {
    content: none;
  }

  &.menu__link--active {
    &::before {
      background: var(--ifm-menu-link-sublist-icon-active) 50% / 1rem 1rem;
    }
  }
}

.menu__list-item--collapsed {
  .menu__link--sublist-caret::before {
    transform: rotateZ(90deg);
  }
}

@include _.sidebar-category-padding(2);
@include _.sidebar-category-padding(3);
@include _.sidebar-category-padding(4);
@include _.sidebar-category-padding(5);

@include _.sidebar-item-link-padding(2);
@include _.sidebar-item-link-padding(3);
@include _.sidebar-item-link-padding(4);
@include _.sidebar-item-link-padding(5);

// Docs
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

main {
  position: relative;
  padding-bottom: var(--ifm-spacing-horizontal);
  & > .container {
    padding: calc(var(--ifm-spacing-horizontal) * 3);
  }

  img {
    border-radius: 8px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-width: 400px;
    background: var(--logto-bg-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 997px) {
  :root {
    --padding-max-width: 20px;
  }
}

@media (min-width: 997px) {
  .navbar__brand {
    .navbar__logo {
      margin-right: _.unit(6);
    }

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      content: '';
      background-color: var(--logto-border);
      width: 1px;
      height: 16px;
      transform: translateY(-8px);
    }
  }

  .theme-doc-sidebar-container nav {
    padding: var(--ifm-navbar-padding-horizontal) _.unit(3);
  }
}

hr {
  background-color: var(--logto-border);
}

code {
  tab-size: 4;
}

svg[id^='mermaid-'] {
  rect[class='rect'] {
    stroke: var(--logto-border);
  }
}
