name: Deploy

on:
  push:
    branches: [master]

concurrency: deploy

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node and pnpm
        uses: silverhand-io/actions-node-pnpm-run-steps@v3

      - name: Build
        run: pnpm build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.BOT_PAT }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./build
          user_name: silverhand-bot
          user_email: bot@silverhand.io
