name: Main

on:
  push:
    branches:
      - master
  pull_request:

concurrency: 
  group: main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main-build:
    strategy:
      matrix:
        locale: [en, de, es, fr, ja, ko, pt-BR, th, zh-CN, zh-TW]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node and pnpm
        uses: silverhand-io/actions-node-pnpm-run-steps@v5

      - name: Build
        run: |
          pnpm build --locale ${{ matrix.locale }}

      - name: Test redirects
        if: ${{ matrix.locale == 'en' }}
        run: |
          pnpm serve &
          sleep 3
          node test-redirects.mjs

  main-built-tutorial:
    strategy:
      matrix:
        locale: [en, es, fr, ja, th]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node and pnpm
        uses: silverhand-io/actions-node-pnpm-run-steps@v5

      - name: Build
        run: |
          pnpm build:tutorials --locale ${{ matrix.locale }}
          
  main-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node and pnpm
        uses: silverhand-io/actions-node-pnpm-run-steps@v5

      - name: Lint
        run: pnpm lint
